
.animated-background {
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); 
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .login-container select {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .login-container button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Blue color */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: green;
  }
  
  .login-container a {
    margin-top: 1rem;
    color: #007bff; 
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  